/* General Styling */
body {
  font-family: 'Arial', sans-serif;
  background-color: #121213;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* App Container */
.App {
  text-align: center;
  max-width: 400px;
  width: 100%;
}

/* Header */
.App-header {
  background-color: #121213;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Title */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Form */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

/* Input Field */
.input-field {
  width: 120%;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #3a3a3c;
  border-radius: 5px;
  background-color: #202124;
  color: white;
  text-align: center;
}

/* Submit Button */
.submit-button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #538d4e;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #3a6e3f;
}

/* Message */
.message-text {
  font-size: 18px;
  margin-top: 10px;
}

/* Responsive */
@media (max-width: 500px) {
  .App {
    width: 90%;
  }
}
